.menu .sub-menu {
    margin-left: 20px;
    margin-top: 5px;
}

.menu .list-unstyled  li {
    height: 30px;
}

.menu li:hover {
    background-color: azure;
}

.menu li i {
    padding: 3px 5px;
}

.menu .arrow i {
    padding: 3px 2px;
}

.menu {
    /* height: 200px; */
}

.bg-menu {
    background-color: #ececec;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu .object i {
    padding: 0;
}


.menu .arrow {
    right: 0px;
    top: 3px
}

.menu .left, .menu .down {
    font-size: 12px;
}

header {
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 20px;
    background-color: #1976d2 !important;
}

header .logo {
    border-right: 1px solid white;
}

header .navbar-nav a {
    text-align: right;
    line-height: 56px;
    font-weight: 500;
}

header .menu img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
}